<header>
  <div class="center jumbotron">
    <div class="text-center">
      <h1>オンラインの音楽教室</h1>
    </div>
  </div>
</header>

<section class="about">
  <h2>いつでも、どこでも、音楽教室</h2>
</section>

<section class="about">
  <h2>講師になるには</h2>
</section>

<section class="about">
  <h2>レッスンを受けるには</h2>
</section>

<footer class="footer">
  <ul>
    <li><a href="#">操作ガイド</a></li>
    <li><a href="#">支払方法</a></li>
    <li><a href="#">利用規約</a></li>
  </ul>
</footer>
