  <h1><%= @student_profile.nickname %> さん</h1>

  <div>
    自己紹介：
    <%= @student_profile.introduction %>
  </div>
  
  <div class="mt-5">
    <%= link_to 'プロフィールの編集', edit_student_profile_path(id: current_student.id), class: "btn btn-lg btn-primary" %>
  </div>
  <div class="mt-2">
    <%= link_to '登録内容を確認する', student_path(current_student), class: "btn btn-lg btn-primary" %>
  </div>

