<footer class="footer bg-dark text-white">
  <div class="row mb-3">
    <div class="col-sm-3">
      <div class="text-center"><%= link_to '講師一覧', teacher_profiles_path %></div>
    </div>
    <div class="col-sm-3">
      <div class="text-center"><a href="#" class="text-white">操作ガイド</a></div>
    </div>
    <div class="col-sm-3">
      <div class="text-center"><a href="#" class="text-white">支払方法</a></div>
    </div>
    <div class="col-sm-3">
      <div class="text-center"><a href="#" class="text-white">利用規約</a></div>
    </div>
  </div>
  <div class="text-center">©Music School</div>
</footer>
