<footer class="footer mt-5 mb-3">
  <div class="row mb-3">
    <div class="col-sm-3">
      <div class="text-center"><a href="#">講師一覧</a></div>
    </div>
    <div class="col-sm-3">
      <div class="text-center"><a href="#">操作ガイド</a></div>
    </div>
    <div class="col-sm-3">
      <div class="text-center"><a href="#">支払方法</a></div>
    </div>
    <div class="col-sm-3">
      <div class="text-center"><a href="#">利用規約</a></div>
    </div>
  </div>
  <div class="text-center">©XXXXX</div>
</footer>
